<div class="heading-con">
  <h4 class="headinges">{{ block.settings.heading }}</h4>
</div>
<div class="collection-footer">
  {% if block.settings.collection-1 != blank %}
<div class="footer-collection">
  <a href="{{ block.settings.collection-link1 }}"><p class="chnage-padding" >{{ block.settings.collection-1 }}</p></a>
</div>
   {% endif %}
   {% if block.settings.collection-2 != blank %}
<div class="footer-collection">
  <a href="{{ block.settings.collection-link2 }}"><p class="chnage-padding" >{{ block.settings.collection-2 }}</p></a>
</div>
  {% endif %}
   {% if block.settings.collection-3 != blank %}
<div class="footer-collection">
  <a href="{{ block.settings.collection-link3 }}"><p class="chnage-padding" >{{ block.settings.collection-3 }}</p></a>
</div>
   {% endif %}  
   {% if block.settings.collection-4 != blank %}
<div class="footer-collection">
  <a href="{{ block.settings.collection-link4 }}"><p class="chnage-padding" >{{ block.settings.collection-4 }}</p></a>
</div>
   {% endif %}  
   {% if block.settings.collection-5 != blank %}  
<div class="footer-collection">
  <a href="{{ block.settings.collection-link5 }}"><p class="chnage-padding" >{{ block.settings.collection-5 }}</p></a>
</div>
  {% endif %}
   {% if block.settings.collection-6 != blank %}  
<div class="footer-collection">
  <a href="{{ block.settings.collection-link6 }}"><p class="chnage-padding" >{{ block.settings.collection-6 }}</p></a>
</div>
  {% endif %}
    {% if block.settings.collection-7 != blank %} 
<div class="footer-collection">
  <a href="{{ block.settings.collection-link7 }}"><p class="chnage-padding" >{{ block.settings.collection-7 }}</p></a>
</div>
  {% endif %}
  {% if block.settings.collection-8 != blank %}
<div class="footer-collection">
  <a href="{{ block.settings.collection-link8 }}"><p class="chnage-padding" >{{ block.settings.collection-8 }}</p></a>
</div>
  {% endif %}
  {% if block.settings.collection-9 != blank %}
<div class="footer-collection">
  <a href="{{ block.settings.collection-link9 }}"><p class="chnage-padding" >{{ block.settings.collection-9 }}</p></a>
</div>
    {% endif %}
  {% if block.settings.collection-10 != blank %}    
<div class="footer-collection">
  <a href="{{ block.settings.collection-link10 }}"><p class="chnage-padding" >{{ block.settings.collection-10 }}</p></a>
</div>
  {% endif %}
  {% if block.settings.collection-11 != blank %}  
<div class="footer-collection">
  <a href="{{ block.settings.collection-link11 }}"><p class="chnage-padding" >{{ block.settings.collection-11 }}</p></a>
</div>
    {% endif %}
  {% if block.settings.collection-12 != blank %}  
<div class="footer-collection">
  <a href="{{ block.settings.collection-link12 }}"><p class="chnage-padding" >{{ block.settings.collection-12 }}</p></a>
</div>
    {% endif %}
  {% if block.settings.collection-13 != blank %}  
<div class="footer-collection">
  <a href="{{ block.settings.collection-link13 }}"><p class="chnage-padding" >{{ block.settings.collection-13 }}</p></a>
</div>
    {% endif %}
  {% if block.settings.collection-14 != blank %}  
<div class="footer-collection">
  <a href="{{ block.settings.collection-link14 }}"><p class="chnage-padding" >{{ block.settings.collection-14 }}</p></a>
</div>
    {% endif %}
  {% if block.settings.collection-15 != blank %}  
<div class="footer-collection">
  <a href="{{ block.settings.collection-link15 }}"><p class="chnage-padding" >{{ block.settings.collection-15 }}</p></a>
</div>
    {% endif %}
  {% if block.settings.collection-16 != blank %}  
<div class="footer-collection">
  <a href="{{ block.settings.collection-link16 }}"><p class="chnage-padding" >{{ block.settings.collection-16 }}</p></a>
</div>
    {% endif %}
  {% if block.settings.collection-17 != blank %}  
<div class="footer-collection">
  <a href="{{ block.settings.collection-link17 }}"><p class="chnage-padding" >{{ block.settings.collection-17 }}</p></a>
</div>
   {% endif %} 
  {% if block.settings.collection-18 != blank %}  
<div class="footer-collection">
  <a href="{{ block.settings.collection-link18 }}"><p class="chnage-padding" >{{ block.settings.collection-18 }}</p></a>
</div>
  {% endif %}
  {% if block.settings.collection-19 != blank %}  
<div class="footer-collection">
  <a href="{{ block.settings.collection-link19 }}"><p class="chnage-padding" >{{ block.settings.collection-19 }}</p></a>
</div>
   {% endif %} 
  {% if block.settings.collection-20 != blank %}  
<div class="footer-collection">
  <a href="{{ block.settings.collection-link20 }}"><p class="chnage-padding" >{{ block.settings.collection-20 }}</p></a>
</div>
   {% endif %} 
  {% if block.settings.collection-21 != blank %}  
<div class="footer-collection">
  <a href="{{ block.settings.collection-link21 }}"><p class="chnage-padding" >{{ block.settings.collection-21 }}</p></a>
</div>
   {% endif %} 
  {% if block.settings.collection-22 != blank %}  
<div class="footer-collection">
  <a href="{{ block.settings.collection-link22 }}"><p class="chnage-padding" >{{ block.settings.collection-22 }}</p></a>
</div>
   {% endif %} 
  {% if block.settings.collection-23 != blank %}  
<div class="footer-collection">
  <a href="{{ block.settings.collection-link23 }}"><p class="chnage-padding" >{{ block.settings.collection-23 }}</p></a>
</div>
    {% endif %}
  {% if block.settings.collection-24 != blank %}  
<div class="footer-collection">
  <a href="{{ block.settings.collection-link24 }}"><p class="chnage-padding" >{{ block.settings.collection-24 }}</p></a>
</div>
    {% endif %}
  {% if block.settings.collection-25 != blank %}  
<div class="footer-collection">
  <a href="{{ block.settings.collection-link25 }}"><p class="chnage-padding" >{{ block.settings.collection-25 }}</p></a>
</div>
   {% endif %} 
  {% if block.settings.collection-26 != blank %}  
<div class="footer-collection">
  <a href="{{ block.settings.collection-link26 }}"><p class="chnage-padding" >{{ block.settings.collection-26 }}</p></a>
</div>
   {% endif %} 
  {% if block.settings.collection-27 != blank %}  
<div class="footer-collection">
  <a href="{{ block.settings.collection-link27 }}"><p class="chnage-padding" >{{ block.settings.collection-27 }}</p></a>
</div>
   {% endif %} 
  {% if block.settings.collection-28 != blank %}  
<div class="footer-collection">
  <a href="{{ block.settings.collection-link28 }}"><p class="chnage-padding" >{{ block.settings.collection-28 }}</p></a>
</div>
   {% endif %} 
  {% if block.settings.collection-29 != blank %}  
<div class="footer-collection">
  <a href="{{ block.settings.collection-link29 }}"><p class="chnage-padding" >{{ block.settings.collection-29 }}</p></a>
</div>
  {% endif %}  
  {% if block.settings.collection-30 != blank %}  
<div class="footer-collection">
  <a href="{{ block.settings.collection-link30 }}"><p class="chnage-padding" >{{ block.settings.collection-30 }}</p></a>
</div>
   {% endif %} 
  {% if block.settings.collection-31 != blank %}  
<div class="footer-collection">
  <a href="{{ block.settings.collection-link31 }}"><p class="chnage-padding" >{{ block.settings.collection-31 }}</p></a>
</div>
  {% endif %}  
  {% if block.settings.collection-32 != blank %}  
<div class="footer-collection">
  <a href="{{ block.settings.collection-link32 }}"><p class="chnage-padding" >{{ block.settings.collection-32 }}</p></a>
</div>
  {% endif %}  
  {% if block.settings.collection-33 != blank %}  
<div class="footer-collection">
  <a href="{{ block.settings.collection-link33 }}"><p class="chnage-padding" >{{ block.settings.collection-33 }}</p></a>
</div>
  {% endif %}  
  {% if block.settings.collection-34 != blank %}  
<div class="footer-collection">
  <a href="{{ block.settings.collection-link34 }}"><p class="chnage-padding" >{{ block.settings.collection-34 }}</p></a>
</div>
  {% endif %}  
  {% if block.settings.collection-35 != blank %}
<div class="footer-collection">
  <a href="{{ block.settings.collection-link35 }}"><p class="chnage-padding" >{{ block.settings.collection-35 }}</p></a>
</div>
  {% endif %}  
  {% if block.settings.collection-36 != blank %}
<div class="footer-collection">
  <a href="{{ block.settings.collection-link36 }}"><p class="chnage-padding" >{{ block.settings.collection-36 }}</p></a>
</div>
  {% endif %}  
  {% if block.settings.collection-37 != blank %}
<div class="footer-collection">
  <a href="{{ block.settings.collection-link37 }}"><p class="chnage-padding" >{{ block.settings.collection-37 }}</p></a>
</div>
  {% endif %}  
  {% if block.settings.collection-38 != blank %}
<div class="footer-collection">
  <a href="{{ block.settings.collection-link38 }}"><p class="chnage-padding" >{{ block.settings.collection-38 }}</p></a>
</div>
  {% endif %}
  {% if block.settings.collection-39 != blank %}
<div class="footer-collection">
  <a href="{{ block.settings.collection-link39 }}"><p class="chnage-padding" >{{ block.settings.collection-39 }}</p></a>
</div>
    {% endif %}
  {% if block.settings.collection-40 != blank %}
<div class="footer-collection">
  <a href="{{ block.settings.collection-link40 }}"><p class="chnage-padding" >{{ block.settings.collection-40 }}</p></a>
</div>
   {% endif %} 
  
</div>